body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    text-align: center;
    background: #ffffff; /* Háttérszín hozzáadva */
    margin: 0;
    padding: 0;
}

#game-container {
    margin-top: 20px;
}

.number-box, .tip-box {
    display: inline-block;
    width: 90%;
    height: 50px;
    margin: 15px;
    border: 1px solid #ccc;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

#settings {
    margin-top: 20px;
}

#feedback {
    margin-top: 10px;
}

#input-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 20px;
    justify-content: center;
    width: 300px;
    margin: 0 auto; /* Középre igazítás */
    justify-items: center;

}

.input-button {
    background: hsl(210, 25%, 95%);
    border: none;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    color: #223968;
    display: flex;
    justify-content: center; /* Tartalom vízszintes középre igazítása */
    align-items: center; /* Tartalom függőleges középre igazítása */
}

#currentNumber {
    display: none;
}

#gameContainer {
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    max-width: 22rem;
    overflow: hidden;
    color: #223968;
    background: #C1DFEF;
    margin: 2em auto;
    padding: 20px; /* Belső margó hozzáadva a tartalomhoz */
}

#check {
    background: #CDDA32;
}

.num-button {
    border: none;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #223968;
    background: white;
    display: flex;
    justify-content: center; /* Tartalom vízszintes középre igazítása */
    align-items: center; /* Tartalom függőleges középre igazítása */
    margin: 3px;
}

.num-button.selected {
    background: rgb(205, 218, 50);
    color: #223968;
    border: 2px solid #223968;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    isplay: flex;
    justify-content: center; /* Tartalom vízszintes középre igazítása */
    align-items: center; /* Tartalom függőleges középre igazítása */
    margin: 3px;
}

#startGame {
    border: none;
    font-size: 2rem;
    width: 300px;
    border-radius: 15px;
    color: #223968;
    background: rgb(205, 218, 50);
    margin-top: 20px;
    font-weight: 700 !important;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 20px;
}

#numButtons {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.7em;
    color: #223968; /* Cím szín hozzáadva */
}
